$azul-celeste: #2ea6c4;
$azul-medio: #1B6B93;
$celeste: hsl(253, 70%, 57%);
$azul-oscuro:#068FFF;
$azul-titulo:#4E4FEB;
$fondo-header:#F9F5F6;
$fondo-celular:#D4E2D4;
$blanco-pastel:#FAF3F0;
$celeste-pastel:#D4E2D4;
$gradiente-verde:#A0C49D;
$gradiente-gris:#C4D7B2;
$gradiente-grisclaro:#E1ECC8;
$gradiente-blanco:#F7FFE5;
$fondo-hover:#A1CCD1;

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

$cursiva: 'Modak', cursive;
$imprenta: 'Roboto', sans-serif;