*{
    margin: 0;
    padding: 0;
 
}

//inicio
@mixin box-shadow-con-titulo {
  padding: 5px;
  box-shadow: 10px 10px 20px rgba(19, 19, 19, 0.2);
  
  h5 {
    font-size: 15px;
    color: $azul-titulo;
    margin-top: 10px; 
  }
  &:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);}
}

.iconos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1px;
  gap: -50px -50px;
  grid-auto-flow: row;
  grid-template-areas:
    "fondo fondo fondo"
    "horario direccion telefono";
  justify-content: start;
  align-items: center;
  justify-items: center;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-blanco-gris-brillante-lineas-onduladas_1017-25101.jpg?w=2000);

  .fondo {
    grid-area: fondo;
    max-width: 100%;
    height: auto;
    overflow: hidden;
     box-shadow: 10px 10px 20px rgba(15, 15, 15, 0.2);
  }

  .horario {
    max-width: 100%;
    grid-area: horario;
    @include box-shadow-con-titulo;
  }

  .direccion {
    grid-area: direccion;
    max-width: 100%;
    @include box-shadow-con-titulo;
  }

  .telefono {
    grid-area: telefono;
    max-width: 100%;
    @include box-shadow-con-titulo;
  }
}


 
@mixin responsive-grid{
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
 
    
 

  }}
    
  
@media screen and (max-width: 600px) {
  .iconos { 
    display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas:
  "fondo"
  "horario"
  "direccion"
  "telefono";
justify-items: center;
align-items: center;
}
 
  .fondo{
    overflow-x:hidden;
    display: block;
    margin: 0 auto;
  }
  .horario {
    margin-bottom: 50px;
    
    @include responsive-grid;
  }
  .telefono{
    @include responsive-grid;
    margin-bottom: 50px;
    
  }
  .direccion{
    @include responsive-grid;
    margin-bottom: 50px;
  
    }}
  



//NOSOTRAS
.nosotras {
  display: flex;
  align-items: center; 
  background-image: url(https://media.istockphoto.com/id/1370544962/es/foto/fondo-de-papel-blanco-textura-de-cart%C3%B3n-fibroso-para-scrapbooking.jpg?s=612x612&w=0&k=20&c=Z38W9VpkMgSG-hmqYVNpKfcxmPQFKZZDsODhfksInSw=);

  .texto { 
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    transform: rotate(-10deg);
    display: flex;
    flex: 1;
    padding: 100px;
    margin: 100px;
    font-size: 14px;
    font-display: unset;
    background-color: aqua;
    
  }
   
    font-display: unset;
    background-color: aqua;
  }

  .card {
    max-width: 800px;
    background-image: url(https://media.istockphoto.com/id/1398497933/es/vector/fondo-dental-sin-costuras-para-el-dise%C3%B1o-de-medicamentos-fondo-vectorial-papel-de-envolver.jpg?s=612x612&w=0&k=20&c=zQktl8Q49ecoTw-SIzJuNZZ0Mqk5ELLqDlR---VRQ78=);
    
    .col-md-4 {
      img.nosImg {
        
      
        transform: rotate(14deg);
        width: 300px; 
      }
    }
  }

@media only screen and (max-width: 600px) {
  .nosotras { 
flex-direction: column; 
  }
  .texto { 
margin: 20px;   
padding: 20px; 
font-size: 14px;
  }
.card {   
max-width: 100%; 
  }
}

  




//Servicios
.servicios{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  //background: rgb(23, 118, 219);
  background-image: url(https://media.istockphoto.com/id/1370544962/es/foto/fondo-de-papel-blanco-textura-de-cart%C3%B3n-fibroso-para-scrapbooking.jpg?s=612x612&w=0&k=20&c=Z38W9VpkMgSG-hmqYVNpKfcxmPQFKZZDsODhfksInSw=);
}
.card { 
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;

}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s;
  
  
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #0f0fa6;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(36, 13, 129, 0.4);
  text-align: center;
  font-size: 20px;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(15, 80, 118);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  .texto {
    font-size: 14px;
  }
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;

} 

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}




  //Turnos

  

 .turno {
   display: flex;
   flex-wrap: wrap;
   height: 500px;
   position: relative; 
   background-image: url(https://cdn.pixabay.com/photo/2017/10/26/23/39/family-2892797_1280.png);
   justify-content: center;
   background-size: cover;
   align-items: center;
   }
   .botonTurno { 
 
   position: absolute;
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   display: flex;
   flex-direction: column;
   align-items: center;
   input {
     margin-bottom: 5px;
     transition: background-color 0.3s ease;

    
   &:hover {
      // background-color: rgb(90, 143, 216)
     background-color: lightgray;
     border-color: #43acba;
  
  }
 }

 }
 
    //contacto
    main.contacto {
      display: flex;
      background-image: url(https://media.istockphoto.com/id/1370544962/es/foto/fondo-de-papel-blanco-textura-de-cart%C3%B3n-fibroso-para-scrapbooking.jpg?s=612x612&w=0&k=20&c=Z38W9VpkMgSG-hmqYVNpKfcxmPQFKZZDsODhfksInSw=);
    }
    
   
    .verMapa {
      flex: 1;
    }
  
    .verMapa iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }
    
    .dirCosultorio {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    
    .boton {
      background-color: rgb(76, 172, 199);
     
    }
    
    .boton a {
      color: white;
    }
    
    @media (max-width: 600px) {
        .contacto {
          flex-direction: column;
          align-items: center;
        }
      
        .contacto .verMapa {
          margin-top: 10px;
        }
      }
 

    
  

  
  
  
  
    


        
    
  
  
  
  