 *{
     margin: 0;
     padding: 0;
 }
 //PAGINA INCIO
  
  .header {
    .navbar-brand{
        h1{
            color: $azul-titulo;
            font-size: 14px;
        }
    }

  }
  
 

          
       
      
          
     
      
      
      
      
      

    
    
    
       