 *{
     margin: 0;
     padding: 0;
 }//PAGINA INCIO

  .header {
    h1{
        font-size: 24px;
        color: aqua;
    }}
        //     .logo {
                    
       
        //   .imgLogo{ width: 30px;
          
        //   }}}
        // //   .nombre{
        // //       color:$azul-celeste;
        // //       font-family: cursive;}}}
            
         




